@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 239, 168);
}


h1, h2, p {
    text-align: center;
}

h2 {
    margin-top: 25px;
}
ul {
    
    width: 300px;
    margin: 0 auto;
}

ol {
    
    width: 500px;
    margin: 0 auto;
}

img {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
}

li {
    margin-bottom: 10px;
}